
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.background{

      background-color: #F8FEFF;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
      height: 100vh;

}
.backgroundTwo{
  background-color: #A1CFD4;
  width: 100vw;
  height: 40vh;

  
}

.companyName{
  color: #2B2B2B;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.title{
  display: flex;
  flex-direction: row;
}

.openNowWrapper{
  display: flex;
  justify-items: end;

}

.ShopLocal{
  min-width: 400px;
  font-family: 'DM Sans', sans-serif;
  color: #111F4F;
  font-size: 50px;
  padding-left: 190px;
  padding-right: 90px;
  font-weight: 1000;
}

.findBusinesses{
  font-family: 'DM Sans', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 700;

}

.stackText{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.backgroundThree{
    background-color: #d0e7e2;
      width: 100vw;
      height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.enterLocation{
  font-family: 'DM Sans', sans-serif;
    color: #111F4F;
    font-size: 40px;
    font-weight: 800;
    padding-left: 120px;

}

.stackTextTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundFour{
  background-color: #81a59d;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
  width: 200px;
  height: 25px;
  border: none;
  background-color: rgba(7, 60, 220, 0.651);
  color: white;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(12, 48, 155, 0.651);
  width: 210px;
  height: 27.5px;
  transition-timing-function: ease-in;
  transition: 0.05s;

}
